In [1]:
# importing dependencies
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline
from matplotlib import pyplot as plt

In [2]:
# reading in data file
df = pd.read_csv('../Resources/application_train.csv')

In [3]:
# viewing the dataframe
df

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,_id
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0149,"Stone, brick",WEDNESDAY,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,6288ff0e5824e1f88b4e59b1
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0714,Block,MONDAY,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,6288ff0e5824e1f88b4e59b2
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b3
3,29686.5,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b4
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238485,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2898,"Stone, brick",THURSDAY,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125,628902df5824e1f88b530ae3
238486,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0214,"Stone, brick",MONDAY,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406,628902df5824e1f88b530ae4
238487,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.7970,Panel,THURSDAY,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583,628902df5824e1f88b530ae5
238488,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0086,"Stone, brick",WEDNESDAY,0.9771,0.9771,0.9772,NaN,NaN,NaN,628902df5824e1f88b530ae6
238489,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0718,Panel,THURSDAY,0.9881,0.9881,0.9881,NaN,NaN,NaN,628902df5824e1f88b530ae7

In [4]:
#Check for and remove outliers
from scipy import stats
num_types = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
df[(np.abs(stats.zscore(df.select_dtypes(include=num_types), nan_policy='omit')) < 3).all(axis=1)]
df

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE,_id
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0149,"Stone, brick",WEDNESDAY,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341,6288ff0e5824e1f88b4e59b1
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0714,Block,MONDAY,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040,6288ff0e5824e1f88b4e59b2
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b3
3,29686.5,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b4
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN,6288ff0e5824e1f88b4e59b5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238485,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2898,"Stone, brick",THURSDAY,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125,628902df5824e1f88b530ae3
238486,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0214,"Stone, brick",MONDAY,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406,628902df5824e1f88b530ae4
238487,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.7970,Panel,THURSDAY,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583,628902df5824e1f88b530ae5
238488,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0086,"Stone, brick",WEDNESDAY,0.9771,0.9771,0.9772,NaN,NaN,NaN,628902df5824e1f88b530ae6
238489,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0718,Panel,THURSDAY,0.9881,0.9881,0.9881,NaN,NaN,NaN,628902df5824e1f88b530ae7

#### No outliers detected in the data.

In [5]:
# removing columns that are less relevant to analysis
df2 = df.drop(['FLAG_MOBIL', "FLAG_EMP_PHONE","FLAG_WORK_PHONE", "FLAG_CONT_MOBILE", "FLAG_EMAIL", "REG_REGION_NOT_LIVE_REGION", "REG_REGION_NOT_WORK_REGION", "LIVE_REGION_NOT_WORK_REGION", "REG_CITY_NOT_LIVE_CITY", "REG_CITY_NOT_WORK_CITY", "LIVE_CITY_NOT_WORK_CITY", "FLAG_DOCUMENT_2", "FLAG_DOCUMENT_3", 
               "FLAG_DOCUMENT_4", "FLAG_DOCUMENT_5", "FLAG_DOCUMENT_6", "FLAG_DOCUMENT_7", "FLAG_DOCUMENT_8", "FLAG_DOCUMENT_9", "FLAG_DOCUMENT_10", "FLAG_DOCUMENT_11", "FLAG_DOCUMENT_12", "FLAG_DOCUMENT_13", "FLAG_DOCUMENT_14", "FLAG_DOCUMENT_15", "FLAG_DOCUMENT_16", "FLAG_DOCUMENT_17", "FLAG_DOCUMENT_18", "FLAG_DOCUMENT_19",
               "FLAG_DOCUMENT_21", "_id", "SK_ID_CURR"], axis=1)

df2

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,TARGET,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0.0149,"Stone, brick",WEDNESDAY,0.9722,0.9722,0.9722,0.6192,0.6243,0.6341
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0714,Block,MONDAY,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,MONDAY,NaN,NaN,NaN,NaN,NaN,NaN
3,29686.5,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,NaN,NaN,WEDNESDAY,NaN,NaN,NaN,NaN,NaN,NaN
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,NaN,THURSDAY,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238485,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.2898,"Stone, brick",THURSDAY,0.9876,0.9876,0.9782,0.8300,0.8323,0.7125
238486,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0.0214,"Stone, brick",MONDAY,0.9727,0.9727,0.9727,0.6260,0.6310,0.6406
238487,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0,0.7970,Panel,THURSDAY,0.9816,0.9816,0.9816,0.7484,0.7518,0.7583
238488,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0.0086,"Stone, brick",WEDNESDAY,0.9771,0.9771,0.9772,NaN,NaN,NaN
238489,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0,0.0718,Panel,THURSDAY,0.9881,0.9881,0.9881,NaN,NaN,NaN

In [6]:
# displaying the data types
pd.set_option('display.max_rows', None)
display(df2.dtypes)

AMT_ANNUITY                     float64
AMT_CREDIT                      float64
AMT_GOODS_PRICE                 float64
AMT_INCOME_TOTAL                float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
APARTMENTS_AVG                  float64
APARTMENTS_MEDI                 float64
APARTMENTS_MODE                 float64
BASEMENTAREA_AVG                float64
BASEMENTAREA_MEDI               float64
BASEMENTAREA_MODE               float64
CNT_CHILDREN                      int64
CNT_FAM_MEMBERS                 float64
CODE_GENDER                      object
COMMONAREA_AVG                  float64
COMMONAREA_MEDI                 float64
COMMONAREA_MODE                 float64
DAYS_BIRTH                        int64
DAYS_EMPLOYED                     int64
DAYS_ID_PUBLISH                   int64
DAYS_LAST_PHONE_CHANGE          float64
DAYS_REGISTRATION               float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
ELEVATORS_AVG                   float64
ELEVATORS_MEDI                  float64
ELEVATORS_MODE                  float64
EMERGENCYSTATE_MODE              object
ENTRANCES_AVG                   float64
ENTRANCES_MEDI                  float64
ENTRANCES_MODE                  float64
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
FLAG_DOCUMENT_20                  int64
FLAG_OWN_CAR                     object
FLAG_OWN_REALTY                  object
FLAG_PHONE                        int64
FLOORSMAX_AVG                   float64
FLOORSMAX_MEDI                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_AVG                   float64
FLOORSMIN_MEDI                  float64
FLOORSMIN_MODE                  float64
FONDKAPREMONT_MODE               object
HOUR_APPR_PROCESS_START           int64
HOUSETYPE_MODE                   object
LANDAREA_AVG                    float64
LANDAREA_MEDI                   float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_AVG                  float64
LIVINGAREA_MEDI                 float64
LIVINGAREA_MODE                 float64
NAME_CONTRACT_TYPE               object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
NAME_INCOME_TYPE                 object
NAME_TYPE_SUITE                  object
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_AVG               float64
NONLIVINGAREA_MEDI              float64
NONLIVINGAREA_MODE              float64
OBS_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
OCCUPATION_TYPE                  object
ORGANIZATION_TYPE                object
OWN_CAR_AGE                     float64
REGION_POPULATION_RELATIVE      float64
REGION_RATING_CLIENT              int64
REGION_RATING_CLIENT_W_CITY       int64
TARGET                            int64
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
WEEKDAY_APPR_PROCESS_START       object
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_AVG                 float64
YEARS_BUILD_MEDI                float64
YEARS_BUILD_MODE                float64
dtype: object

In [7]:
# counting the number of nulls in each column
null_count= print(df2.isnull().sum())

AMT_ANNUITY                          9
AMT_CREDIT                           0
AMT_GOODS_PRICE                    193
AMT_INCOME_TOTAL                     0
AMT_REQ_CREDIT_BUREAU_DAY        32087
AMT_REQ_CREDIT_BUREAU_HOUR       32087
AMT_REQ_CREDIT_BUREAU_MON        32087
AMT_REQ_CREDIT_BUREAU_QRT        32087
AMT_REQ_CREDIT_BUREAU_WEEK       32087
AMT_REQ_CREDIT_BUREAU_YEAR       32087
APARTMENTS_AVG                  121032
APARTMENTS_MEDI                 121032
APARTMENTS_MODE                 121032
BASEMENTAREA_AVG                139598
BASEMENTAREA_MEDI               139598
BASEMENTAREA_MODE               139598
CNT_CHILDREN                         0
CNT_FAM_MEMBERS                      2
CODE_GENDER                          0
COMMONAREA_AVG                  166602
COMMONAREA_MEDI                 166602
COMMONAREA_MODE                 166602
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_ID_PUBLISH                      0
DAYS_LAST_PHONE_CHANGE               1
DAYS_REGISTRATION                    0
DEF_30_CNT_SOCIAL_CIRCLE           787
DEF_60_CNT_SOCIAL_CIRCLE           787
ELEVATORS_AVG                   127079
ELEVATORS_MEDI                  127079
ELEVATORS_MODE                  127079
EMERGENCYSTATE_MODE             113004
ENTRANCES_AVG                   120055
ENTRANCES_MEDI                  120055
ENTRANCES_MODE                  120055
EXT_SOURCE_1                    134528
EXT_SOURCE_2                       518
EXT_SOURCE_3                     47131
FLAG_DOCUMENT_20                     0
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
FLAG_PHONE                           0
FLOORSMAX_AVG                   118631
FLOORSMAX_MEDI                  118631
FLOORSMAX_MODE                  118631
FLOORSMIN_AVG                   161771
FLOORSMIN_MEDI                  161771
FLOORSMIN_MODE                  161771
FONDKAPREMONT_MODE              163025
HOUR_APPR_PROCESS_START              0
HOUSETYPE_MODE                  119672
LANDAREA_AVG                    141613
LANDAREA_MEDI                   141613
LANDAREA_MODE                   141613
LIVINGAPARTMENTS_AVG            162980
LIVINGAPARTMENTS_MEDI           162980
LIVINGAPARTMENTS_MODE           162980
LIVINGAREA_AVG                  119699
LIVINGAREA_MEDI                 119699
LIVINGAREA_MODE                 119699
NAME_CONTRACT_TYPE                   0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
NAME_INCOME_TYPE                     0
NAME_TYPE_SUITE                    972
NONLIVINGAPARTMENTS_AVG         165529
NONLIVINGAPARTMENTS_MEDI        165529
NONLIVINGAPARTMENTS_MODE        165529
NONLIVINGAREA_AVG               131524
NONLIVINGAREA_MEDI              131524
NONLIVINGAREA_MODE              131524
OBS_30_CNT_SOCIAL_CIRCLE           787
OBS_60_CNT_SOCIAL_CIRCLE           787
OCCUPATION_TYPE                  74801
ORGANIZATION_TYPE                    0
OWN_CAR_AGE                     157492
REGION_POPULATION_RELATIVE           0
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
TARGET                               0
TOTALAREA_MODE                  115092
WALLSMATERIAL_MODE              121195
WEEKDAY_APPR_PROCESS_START           0
YEARS_BEGINEXPLUATATION_AVG     116319
YEARS_BEGINEXPLUATATION_MEDI    116319
YEARS_BEGINEXPLUATATION_MODE    116319
YEARS_BUILD_AVG                 158526
YEARS_BUILD_MEDI                158526
YEARS_BUILD_MODE                158526
dtype: int64

In [8]:
# removing null values from dataframe
pd.set_option('display.max_rows', 10)
no_nulls = df2.dropna(axis=0)

no_nulls

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,TARGET,TOTALAREA_MODE,WALLSMATERIAL_MODE,WEEKDAY_APPR_PROCESS_START,YEARS_BEGINEXPLUATATION_AVG,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_AVG,YEARS_BUILD_MEDI,YEARS_BUILD_MODE
71,24435.0,573628.5,463500.0,103500.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0.1324,"Stone, brick",MONDAY,0.9861,0.9861,0.9861,0.8096,0.8121,0.8171
124,16789.5,260725.5,198000.0,202500.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0.0710,Panel,TUESDAY,0.9801,0.9801,0.9801,0.7280,0.7316,0.7387
152,53329.5,675000.0,675000.0,202500.0,0.0,0.0,1.0,0.0,0.0,4.0,...,0,0.7334,Monolithic,MONDAY,0.9945,0.9945,0.9945,0.9252,0.9262,0.9281
161,24781.5,263686.5,238500.0,162000.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0.4064,Panel,THURSDAY,0.9891,0.9891,0.9891,0.8504,0.8524,0.8563
255,31032.0,1019205.0,774000.0,225000.0,0.0,0.0,6.0,0.0,0.0,1.0,...,1,0.1874,Panel,MONDAY,0.9916,0.9916,0.9916,0.8844,0.8859,0.8889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238337,16051.5,361462.5,274500.0,112500.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0,0.0594,"Stone, brick",WEDNESDAY,0.9970,0.9970,0.9965,0.9524,0.9530,0.9543
238338,21906.0,675000.0,675000.0,99000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.1444,Panel,FRIDAY,0.9851,0.9851,0.9851,0.7960,0.7987,0.8040
238386,47673.0,711454.5,643500.0,261000.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1,0.0454,Panel,MONDAY,0.9871,0.9871,0.9871,0.8232,0.8256,0.8301
238435,15075.0,270000.0,270000.0,94500.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0,0.0061,"Stone, brick",TUESDAY,0.9767,0.9767,0.9767,0.6804,0.6847,0.6929
238461,34969.5,500566.5,472500.0,225000.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0.0272,Block,THURSDAY,0.9737,0.9737,0.9737,0.6396,0.6444,0.6537

In [9]:
## Data Preprocessing
X = df2.drop('TARGET',1)
y = df2['TARGET']

In [10]:
# one-hot encoding for categorical variables
categorical_variables = ['EMERGENCYSTATE_MODE', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE',
                         'NAME_CONTRACT_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
                         'NAME_INCOME_TYPE', 'NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'ORGANIZATION_TYPE', 
                         'WALLSMATERIAL_MODE', 'WEEKDAY_APPR_PROCESS_START', 'CODE_GENDER']
                
for variable in categorical_variables:
  discarded= pd.get_dummies(X[variable], prefix=variable)
  X= pd.concat([X, discarded], axis = 1)
  X.drop([variable], axis=1, inplace=True)

X

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,1,0,1,0
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
3,29686.5,312682.5,297000.0,135000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,1,0,0
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238485,27558.0,254700.0,225000.0,157500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,1,0
238486,12001.5,269550.0,225000.0,72000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,0,0,0,1,0,0
238487,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0,0,0,0,1,0,0,1,0,0
238488,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,1,0,0
238489,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0,0,0,0,1,0,0,1,0,0

In [11]:
# displaying the data types in X after one-hot encoding
pd.set_option('display.max_rows', None)
display(X.dtypes)

AMT_ANNUITY                                          float64
AMT_CREDIT                                           float64
AMT_GOODS_PRICE                                      float64
AMT_INCOME_TOTAL                                     float64
AMT_REQ_CREDIT_BUREAU_DAY                            float64
AMT_REQ_CREDIT_BUREAU_HOUR                           float64
AMT_REQ_CREDIT_BUREAU_MON                            float64
AMT_REQ_CREDIT_BUREAU_QRT                            float64
AMT_REQ_CREDIT_BUREAU_WEEK                           float64
AMT_REQ_CREDIT_BUREAU_YEAR                           float64
APARTMENTS_AVG                                       float64
APARTMENTS_MEDI                                      float64
APARTMENTS_MODE                                      float64
BASEMENTAREA_AVG                                     float64
BASEMENTAREA_MEDI                                    float64
BASEMENTAREA_MODE                                    float64
CNT_CHILDREN                                           int64
CNT_FAM_MEMBERS                                      float64
COMMONAREA_AVG                                       float64
COMMONAREA_MEDI                                      float64
COMMONAREA_MODE                                      float64
DAYS_BIRTH                                             int64
DAYS_EMPLOYED                                          int64
DAYS_ID_PUBLISH                                        int64
DAYS_LAST_PHONE_CHANGE                               float64
DAYS_REGISTRATION                                    float64
DEF_30_CNT_SOCIAL_CIRCLE                             float64
DEF_60_CNT_SOCIAL_CIRCLE                             float64
ELEVATORS_AVG                                        float64
ELEVATORS_MEDI                                       float64
ELEVATORS_MODE                                       float64
ENTRANCES_AVG                                        float64
ENTRANCES_MEDI                                       float64
ENTRANCES_MODE                                       float64
EXT_SOURCE_1                                         float64
EXT_SOURCE_2                                         float64
EXT_SOURCE_3                                         float64
FLAG_DOCUMENT_20                                       int64
FLAG_PHONE                                             int64
FLOORSMAX_AVG                                        float64
FLOORSMAX_MEDI                                       float64
FLOORSMAX_MODE                                       float64
FLOORSMIN_AVG                                        float64
FLOORSMIN_MEDI                                       float64
FLOORSMIN_MODE                                       float64
HOUR_APPR_PROCESS_START                                int64
LANDAREA_AVG                                         float64
LANDAREA_MEDI                                        float64
LANDAREA_MODE                                        float64
LIVINGAPARTMENTS_AVG                                 float64
LIVINGAPARTMENTS_MEDI                                float64
LIVINGAPARTMENTS_MODE                                float64
LIVINGAREA_AVG                                       float64
LIVINGAREA_MEDI                                      float64
LIVINGAREA_MODE                                      float64
NONLIVINGAPARTMENTS_AVG                              float64
NONLIVINGAPARTMENTS_MEDI                             float64
NONLIVINGAPARTMENTS_MODE                             float64
NONLIVINGAREA_AVG                                    float64
NONLIVINGAREA_MEDI                                   float64
NONLIVINGAREA_MODE                                   float64
OBS_30_CNT_SOCIAL_CIRCLE                             float64
OBS_60_CNT_SOCIAL_CIRCLE                             float64
OWN_CAR_AGE                                          float64
REGION_POPULATION_RELATIVE                           float64
REGION_RATING_CLIENT                                   int64
REGION_RATING_CLIENT_W_CITY                            int64
TOTALAREA_MODE                                       float64
YEARS_BEGINEXPLUATATION_AVG                          float64
YEARS_BEGINEXPLUATATION_MEDI                         float64
YEARS_BEGINEXPLUATATION_MODE                         float64
YEARS_BUILD_AVG                                      float64
YEARS_BUILD_MEDI                                     float64
YEARS_BUILD_MODE                                     float64
EMERGENCYSTATE_MODE_No                                 uint8
EMERGENCYSTATE_MODE_Yes                                uint8
FLAG_OWN_CAR_N                                         uint8
FLAG_OWN_CAR_Y                                         uint8
FLAG_OWN_REALTY_N                                      uint8
FLAG_OWN_REALTY_Y                                      uint8
FONDKAPREMONT_MODE_not specified                       uint8
FONDKAPREMONT_MODE_org spec account                    uint8
FONDKAPREMONT_MODE_reg oper account                    uint8
FONDKAPREMONT_MODE_reg oper spec account               uint8
HOUSETYPE_MODE_block of flats                          uint8
HOUSETYPE_MODE_specific housing                        uint8
HOUSETYPE_MODE_terraced house                          uint8
NAME_CONTRACT_TYPE_Cash loans                          uint8
NAME_CONTRACT_TYPE_Revolving loans                     uint8
NAME_EDUCATION_TYPE_Academic degree                    uint8
NAME_EDUCATION_TYPE_Higher education                   uint8
NAME_EDUCATION_TYPE_Incomplete higher                  uint8
NAME_EDUCATION_TYPE_Lower secondary                    uint8
NAME_EDUCATION_TYPE_Secondary / secondary special      uint8
NAME_FAMILY_STATUS_Civil marriage                      uint8
NAME_FAMILY_STATUS_Married                             uint8
NAME_FAMILY_STATUS_Separated                           uint8
NAME_FAMILY_STATUS_Single / not married                uint8
NAME_FAMILY_STATUS_Unknown                             uint8
NAME_FAMILY_STATUS_Widow                               uint8
NAME_HOUSING_TYPE_Co-op apartment                      uint8
NAME_HOUSING_TYPE_House / apartment                    uint8
NAME_HOUSING_TYPE_Municipal apartment                  uint8
NAME_HOUSING_TYPE_Office apartment                     uint8
NAME_HOUSING_TYPE_Rented apartment                     uint8
NAME_HOUSING_TYPE_With parents                         uint8
NAME_INCOME_TYPE_Businessman                           uint8
NAME_INCOME_TYPE_Commercial associate                  uint8
NAME_INCOME_TYPE_Maternity leave                       uint8
NAME_INCOME_TYPE_Pensioner                             uint8
NAME_INCOME_TYPE_State servant                         uint8
NAME_INCOME_TYPE_Student                               uint8
NAME_INCOME_TYPE_Unemployed                            uint8
NAME_INCOME_TYPE_Working                               uint8
NAME_TYPE_SUITE_Children                               uint8
NAME_TYPE_SUITE_Family                                 uint8
NAME_TYPE_SUITE_Group of people                        uint8
NAME_TYPE_SUITE_Other_A                                uint8
NAME_TYPE_SUITE_Other_B                                uint8
NAME_TYPE_SUITE_Spouse, partner                        uint8
NAME_TYPE_SUITE_Unaccompanied                          uint8
OCCUPATION_TYPE_Accountants                            uint8
OCCUPATION_TYPE_Cleaning staff                         uint8
OCCUPATION_TYPE_Cooking staff                          uint8
OCCUPATION_TYPE_Core staff                             uint8
OCCUPATION_TYPE_Drivers                                uint8
OCCUPATION_TYPE_HR staff                               uint8
OCCUPATION_TYPE_High skill tech staff                  uint8
OCCUPATION_TYPE_IT staff                               uint8
OCCUPATION_TYPE_Laborers                               uint8
OCCUPATION_TYPE_Low-skill Laborers                     uint8
OCCUPATION_TYPE_Managers                               uint8
OCCUPATION_TYPE_Medicine staff                         uint8
OCCUPATION_TYPE_Private service staff                  uint8
OCCUPATION_TYPE_Realty agents                          uint8
OCCUPATION_TYPE_Sales staff                            uint8
OCCUPATION_TYPE_Secretaries                            uint8
OCCUPATION_TYPE_Security staff                         uint8
OCCUPATION_TYPE_Waiters/barmen staff                   uint8
ORGANIZATION_TYPE_Advertising                          uint8
ORGANIZATION_TYPE_Agriculture                          uint8
ORGANIZATION_TYPE_Bank                                 uint8
ORGANIZATION_TYPE_Business Entity Type 1               uint8
ORGANIZATION_TYPE_Business Entity Type 2               uint8
ORGANIZATION_TYPE_Business Entity Type 3               uint8
ORGANIZATION_TYPE_Cleaning                             uint8
ORGANIZATION_TYPE_Construction                         uint8
ORGANIZATION_TYPE_Culture                              uint8
ORGANIZATION_TYPE_Electricity                          uint8
ORGANIZATION_TYPE_Emergency                            uint8
ORGANIZATION_TYPE_Government                           uint8
ORGANIZATION_TYPE_Hotel                                uint8
ORGANIZATION_TYPE_Housing                              uint8
ORGANIZATION_TYPE_Industry: type 1                     uint8
ORGANIZATION_TYPE_Industry: type 10                    uint8
ORGANIZATION_TYPE_Industry: type 11                    uint8
ORGANIZATION_TYPE_Industry: type 12                    uint8
ORGANIZATION_TYPE_Industry: type 13                    uint8
ORGANIZATION_TYPE_Industry: type 2                     uint8
ORGANIZATION_TYPE_Industry: type 3                     uint8
ORGANIZATION_TYPE_Industry: type 4                     uint8
ORGANIZATION_TYPE_Industry: type 5                     uint8
ORGANIZATION_TYPE_Industry: type 6                     uint8
ORGANIZATION_TYPE_Industry: type 7                     uint8
ORGANIZATION_TYPE_Industry: type 8                     uint8
ORGANIZATION_TYPE_Industry: type 9                     uint8
ORGANIZATION_TYPE_Insurance                            uint8
ORGANIZATION_TYPE_Kindergarten                         uint8
ORGANIZATION_TYPE_Legal Services                       uint8
ORGANIZATION_TYPE_Medicine                             uint8
ORGANIZATION_TYPE_Military                             uint8
ORGANIZATION_TYPE_Mobile                               uint8
ORGANIZATION_TYPE_Other                                uint8
ORGANIZATION_TYPE_Police                               uint8
ORGANIZATION_TYPE_Postal                               uint8
ORGANIZATION_TYPE_Realtor                              uint8
ORGANIZATION_TYPE_Religion                             uint8
ORGANIZATION_TYPE_Restaurant                           uint8
ORGANIZATION_TYPE_School                               uint8
ORGANIZATION_TYPE_Security                             uint8
ORGANIZATION_TYPE_Security Ministries                  uint8
ORGANIZATION_TYPE_Self-employed                        uint8
ORGANIZATION_TYPE_Services                             uint8
ORGANIZATION_TYPE_Telecom                              uint8
ORGANIZATION_TYPE_Trade: type 1                        uint8
ORGANIZATION_TYPE_Trade: type 2                        uint8
ORGANIZATION_TYPE_Trade: type 3                        uint8
ORGANIZATION_TYPE_Trade: type 4                        uint8
ORGANIZATION_TYPE_Trade: type 5                        uint8
ORGANIZATION_TYPE_Trade: type 6                        uint8
ORGANIZATION_TYPE_Trade: type 7                        uint8
ORGANIZATION_TYPE_Transport: type 1                    uint8
ORGANIZATION_TYPE_Transport: type 2                    uint8
ORGANIZATION_TYPE_Transport: type 3                    uint8
ORGANIZATION_TYPE_Transport: type 4                    uint8
ORGANIZATION_TYPE_University                           uint8
ORGANIZATION_TYPE_XNA                                  uint8
WALLSMATERIAL_MODE_Block                               uint8
WALLSMATERIAL_MODE_Mixed                               uint8
WALLSMATERIAL_MODE_Monolithic                          uint8
WALLSMATERIAL_MODE_Others                              uint8
WALLSMATERIAL_MODE_Panel                               uint8
WALLSMATERIAL_MODE_Stone, brick                        uint8
WALLSMATERIAL_MODE_Wooden                              uint8
WEEKDAY_APPR_PROCESS_START_FRIDAY                      uint8
WEEKDAY_APPR_PROCESS_START_MONDAY                      uint8
WEEKDAY_APPR_PROCESS_START_SATURDAY                    uint8
WEEKDAY_APPR_PROCESS_START_SUNDAY                      uint8
WEEKDAY_APPR_PROCESS_START_THURSDAY                    uint8
WEEKDAY_APPR_PROCESS_START_TUESDAY                     uint8
WEEKDAY_APPR_PROCESS_START_WEDNESDAY                   uint8
CODE_GENDER_F                                          uint8
CODE_GENDER_M                                          uint8
CODE_GENDER_XNA                                        uint8
dtype: object

In [12]:
# viewing y dataframe
pd.set_option('display.max_rows', 10)
y

0         1
1         0
2         0
3         0
4         0
         ..
238485    0
238486    0
238487    0
238488    1
238489    0
Name: TARGET, Length: 238490, dtype: int64

In [13]:
#Use SimpleImputer to replace missing values
from sklearn.impute import SimpleImputer
simple_imp= SimpleImputer( strategy='most_frequent')
simple_imp.fit(X)
imputed_train_df = pd.DataFrame(simple_imp.transform(X), columns = X.columns)

In [14]:
# viewing the imputed dataframe
imputed_train_df

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_YEAR,...,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA
0,24700.5,406597.5,351000.0,202500.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,35698.5,1293502.5,1129500.0,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,6750.0,135000.0,135000.0,67500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,29686.5,312682.5,297000.0,135000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,21865.5,513000.0,513000.0,121500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238485,27558.0,254700.0,225000.0,157500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
238486,12001.5,269550.0,225000.0,72000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
238487,29979.0,677664.0,585000.0,153000.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
238488,20205.0,370107.0,319500.0,171000.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
238489,49117.5,675000.0,675000.0,157500.0,0.0,0.0,2.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [15]:
#checking for null values post-imputation
imputed_train_df.isnull().values.any()

False

In [16]:
# saving results to csv file
simple_imputationX = imputed_train_df.to_csv("simple_imputationX.csv")
y_application = y.to_csv("y.csv")

### Dimensionality Reduction

In [17]:
# reading in data for random forest classifier
X = pd.read_csv('simple_imputationX.csv')
y = pd.read_csv('y.csv')

In [19]:
# perform train/test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# scaling the model
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_Scaled = scaler.transform(X_test)

In [ ]:
#Fit Random Forest model for dimensionality reduction
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

In [ ]:
# plotting the features to determine their importance in the model
features = sorted(zip(X.columns, clf.feature_importances_), key = lambda x: x[1])
cols = [f[0] for f in features]
width = [f[1] for f in features]
fig, ax = plt.subplots()
fig.set_size_inches(10,200)
plt.margins(y=0.001)
ax.barh(y=cols, width=width)
plt.show()

In [ ]:
features(order)

In [ ]:
# Import and fit SelectFromModel
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(clf)
sel.fit(X_train_scaled, y_train)

In [ ]:
# Use selector to transform X
X_selected_train, X_selected_test, y_train, y_test = train_test_split(sel.transform(X), y, random_state=1)
#scaling the data
scaler = StandardScaler().fit(X_selected_train)
X_selected_train_scaled = scaler.transform(X_selected_train)
X_selected_test_scaled = scaler.transform(X_selected_test)

### Supervised Learning: Logistic Regression Classifier

In [ ]:
# import and creat logistic regression classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

In [ ]:
# fit the model to reduced, scaled datset
classifier.fit(X_selected_train_scaled, y_train)

In [ ]:
# fit the model score
print(f"Training Data Score: {classifier.score(X_selected_train_scaled, y_train)}")
print(f"Testing Score: {classifier.score(X_selected_test_scaled, y_test)}")

In [ ]:
# generate confusion matrix for logistic regression
y_true = y_test
y_pred = classifier.predict(X_selected_test_scaled)
cm = confusion_matrix(y_true, y_pred)
cm

In [ ]:
# generate classification report for logistic regression
print(classification_report(y_true, y_pred)

In [ ]:
# import linear svc classifier
from sklearn.svm import LinearSVC

In [ ]:
# attempt lineaer support vector classification
lin_svc_classifier = LinearSVC(randwom_state=1). fit(X_selected_train_scale, y_train)
y_pred = lin_svc_classifier.predict(X_selected_test_scaled)
print(classificatoin_report(y_Test, y_pred, target_Names-target_names))
print(f'Training Score: {lin_svc_classifier.score(X_selected_train_scaled, y_train)}')
print(f'Training Score: {lin_svc_classifier.score(X_selected_train_scaled, y_train)}')

In [ ]:
#import K-nearest neighbor classifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# perform KNN classification, to find the most optimal value of k
# Loop through different k values to find which has the highest accuracy.
# Note: We use only odd numbers because we don't want any ties.
train_scores = []
test_scores = []
for k in range(1, 20, 2):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train_scaled, y_train)
    train_score = knn.score(X_train_scaled, y_train)
    test_score = knn.score(X_test_scaled, y_test)
    train_scores.append(train_score)
    test_scores.append(test_score)
    print(f"k: {k}, Train/Test Score: {train_score:.3f}/{test_score:.3f}")
    
    
plt.plot(range(1, 20, 2), train_scores, marker='o')
plt.plot(range(1, 20, 2), test_scores, marker="x")
plt.xlabel("k neighbors")
plt.ylabel("Testing accuracy score")
plt.show()

In [ ]:
# using k value selection, perform KNN Classification, and print report to compare

In [ ]:
# import an extremely randomw trees classifier
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
# fit RandomTressClassifier, and print classification report to compare
ext_classifier= ExtraTreesClassifier(raond_state=1).fit(X_Selected_train_selected, y_train)

In [ ]:
# Note that k: xx seems to be the best choice for this dataset
knn = KNeighborsClassifier(n_neighbors= )
knn.fit(X_train_scaled, y_train)
print('k=  Test Acc: %.3f' % knn.score(X_test_scaled, y_test))